@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AJ'S Trash Collection and Waste Management </h1>
    <p class="lead">Whether you own a business or a home, we provide waste management solutions for you.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Click the Register tab on the top right to sign up for your trash collection services today. If you are already a member, Click the Log In tab on the right and enter your account information to view your balance, set your trash pickup day, or set vacation dates where you will not need pickups. 
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    
</div>