
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thanks! You are all set, and today has been logged!</h2>

@Html.ActionLink("Go To Home", "Index")
<br />

